h1{
  color: white;
}

/* background outer */
#game-background{
  position: absolute;
  background-color: black;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border-radius: 50%;
}

/* outer */
#game-container{
  position: fixed;
  text-align: center;
  /* margin: 50px 30%; */
  margin: 10px 10px;
}

/* bottom */
#boxes-container{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 30% 30%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.box{
  width: 150px;
  height: 150px;
  opacity: .5;
  transition: .5s;
}

#box-0 {
  border-top-left-radius: 50%;
}

#box-1 {
  border-top-right-radius: 50%;
}

#box-2 {
  border-bottom-left-radius: 50%;
}

#box-3 {
  border-bottom-right-radius: 50%;
}

/* top */
#logo-circle{
  border-radius: 50%;
  color: white;
  background-color: black;

  width: 150px;
  height: 150px;
  
  position: relative;
  margin: -80% 80%;
}

#logo-text{
  font-size: 40px;
  padding-top: 30%;
  text-align: center;
}